*.egg
*.egg-info
*.egg-info/
*.py[cod]
*.so
*.parquet
*.npy
*~
.cache
.hypothesis
.idea
.tox
.vs
.vscode
.DS_Store
/dist
__pycache__
_skbuild
build
cmake-build-debug
docs/_build
*.err
*.out
*.csv
scripts/*.fasta
scripts/fastas/*.fasta
scripts/combined_db*
*_play.py
