lightning
torch
torchmetrics
biopython
torchvision
universal_pathlib
pandas
scipy
pyarrow
s3fs[boto3]
biopandas
wandb
jupyter
ipykernel
hydra-core
deepspeed
torchdata
datasets
tokenizers
transformers
scikit-learn
matplotlib
seaborn
python-dotenv
torcheval
fastparquet
datasketch
peft
icecream
beignet @ git+https://github.com/Genentech/beignet.git
