lightning
torch
torchmetrics
biopython
torchvision
universal_pathlib
pandas
scipy
pyarrow
s3fs[boto3]
biopandas
wandb
hydra-core
torchdata
datasets
tokenizers
transformers>=4.24.0
scikit-learn
python-dotenv
torcheval
datasketch
peft
icecream
captum
pooch
edlib
onnx
onnxscript
beignet[datasets, mdtraj]
fair-esm
